USE [prestamos_arduino]
GO
/****** Object:  Table [dbo].[componentes]    Script Date: 20/10/2025 17:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[componentes](
	[id_componente] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [nvarchar](100) NULL,
	[nombre] [nvarchar](100) NULL,
	[cantidad_total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_componente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[docentes]    Script Date: 20/10/2025 17:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[docentes](
	[id_docente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[curso] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_docente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kits]    Script Date: 20/10/2025 17:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kits](
	[id_kit] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[estado] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_kit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitud_componentes]    Script Date: 20/10/2025 17:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitud_componentes](
	[id_solicitud] [int] NULL,
	[id_componente] [int] NULL,
	[cantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[solicitudes]    Script Date: 20/10/2025 17:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[solicitudes](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_docente] [int] NULL,
	[semestre] [nvarchar](10) NULL,
	[tema_proyecto] [nvarchar](255) NULL,
	[fecha] [date] NULL,
	[hora_entrada] [time](0) NULL,
	[hora_salida] [time](0) NULL,
	[id_kit] [int] NULL,
	[estado_kit] [nvarchar](32) NULL,
	[personal_soporte] [nvarchar](100) NULL,
	[estado_solicitud] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[componentes] ADD  CONSTRAINT [DF_componentes_cantidad_total]  DEFAULT ((1)) FOR [cantidad_total]
GO
ALTER TABLE [dbo].[kits] ADD  CONSTRAINT [DF_kits_estado]  DEFAULT (N'Completo') FOR [estado]
GO
ALTER TABLE [dbo].[solicitudes] ADD  CONSTRAINT [DF_solicitudes_estado]  DEFAULT (N'Pendiente') FOR [estado_solicitud]
GO
ALTER TABLE [dbo].[solicitud_componentes]  WITH CHECK ADD  CONSTRAINT [FK_solcomp_componentes] FOREIGN KEY([id_componente])
REFERENCES [dbo].[componentes] ([id_componente])
GO
ALTER TABLE [dbo].[solicitud_componentes] CHECK CONSTRAINT [FK_solcomp_componentes]
GO
ALTER TABLE [dbo].[solicitud_componentes]  WITH CHECK ADD  CONSTRAINT [FK_solcomp_solicitudes] FOREIGN KEY([id_solicitud])
REFERENCES [dbo].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [dbo].[solicitud_componentes] CHECK CONSTRAINT [FK_solcomp_solicitudes]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_docentes] FOREIGN KEY([id_docente])
REFERENCES [dbo].[docentes] ([id_docente])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK_solicitudes_docentes]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [FK_solicitudes_kits] FOREIGN KEY([id_kit])
REFERENCES [dbo].[kits] ([id_kit])
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [FK_solicitudes_kits]
GO
ALTER TABLE [dbo].[kits]  WITH CHECK ADD  CONSTRAINT [CK_kits_estado] CHECK  (([estado]=N'Solo elementos específicos' OR [estado]=N'Completo'))
GO
ALTER TABLE [dbo].[kits] CHECK CONSTRAINT [CK_kits_estado]
GO
ALTER TABLE [dbo].[solicitudes]  WITH CHECK ADD  CONSTRAINT [CK_solicitudes_estado_kit] CHECK  (([estado_kit] IS NULL OR ([estado_kit]=N'Solo elementos específicos' OR [estado_kit]=N'Completo')))
GO
ALTER TABLE [dbo].[solicitudes] CHECK CONSTRAINT [CK_solicitudes_estado_kit]
GO
